
.jumbotron {
    background-image: url(/images/newspaper.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
}

nav {
    background: #3a5e83;
    position: relative;
}

.navbar-brand h2 {
    color: #ffffff;
}

.container .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: 1px solid #ffffff;
}

.nav-item a {
    color: #ffffff !important;
}

.nav-item a:hover {
    color: #c4c3c3 !important;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
}

#indexHeading {
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    font-weight: bold;
}

.secondHeading {
    letter-spacing: 1px;
}

#logo {
    font-size: 32px; 
}

.commentborder {
    border-radius: 25px;
}

#login {
    margin-bottom: 150px;
    background: #3a5e83; 
}

#login:hover {
    background: #649dd7; 
}


footer {
    background: #3a5e83; 
}