<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Newsfeeder: Login</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-lg mb-5">
            <div class="container">
                <a class="navbar-brand p-0" href="/"><h2>Newsfeeder</h2></a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item  mr-3 p-1">
                            <a class="nav-link" href="/login">LOG IN</a>
                        </li>
                        <li class="nav-item p-1 mr-3">
                            <a class="nav-link" href="#" id="signUp" data-toggle="modal" data-target="#signUpModal">SIGN UP</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <div class="login-info-messages">
                        <% include ../partials/messages %>
                    </div>
                    <h2 class="text-center">Log in</h2>
                    <form class="text-center" id="" action="/login" method="POST">
                        <div class="form-group">
                            <label for="logUpInEmail"></label>
                            <input type="email" name="email" class="form-control text-center" id="loginEmail" aria-describedby="emailHelp" placeholder="Email address" required>
                        </div>
                        <div class="form-group">
                            <label for="signUpPassword"></label>
                            <input type="password" name="password" class="form-control text-center" id="signUpPasswordInput" id="signUpPasswordInput"  placeholder="Password" required>
                        </div>
                        <div id="passErrorDiv"></div>
                        <button type="submit" id="login" value="Log In" class="btn btn-secondary mt-3 px-5"><h5 class="mt-1">LOG IN</h5></button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-12"></div>
            </div>
        </div>

        <!-- Sign Up Modal -->
        <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title w-100 text-center" id="signUpModalLabel">Sign Up</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="info-messages"></div>
                        <form class="text-center" id="sign-up">
                            <div class="form-group">
                                <label for="signUpName"></label>
                                <input type="text"  class="form-control text-center" id="signUpNameInput" placeholder="First name"  required>
                            </div>
                            <div class="form-group">
                                <label for="signUpInEmail"></label>
                                <input type="email"  class="form-control text-center" id="signUpEmailInput" aria-describedby="emailHelp" placeholder="Email address" required>
                            </div>
                            <div class="form-group">
                                <label for="signUpPassword"></label>
                                <input type="password"  class="form-control text-center" id="signUpPasswordInput"  placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="signUpPassword2"></label>
                                <input type="password" class="form-control text-center"  id="signUpPasswordInput2"  placeholder="Confirm Pass" required>
                                <div id="passErrorDiv"></div>
                            </div>
                            <button type="submit" class="btn btn-secondary mt-3 px-5"><h5 class="mt-1">SIGN UP</h5></button required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <span class="text-center w-100">Already have an account?</span>
                        <span class="text-center w-100 text-decoration-none"><a href="/login" id="signUpLogInLink">LOG IN</a></span>
                    </div>
                </div>
            </div>
        </div>
    
        <footer class="page-footer font-small">
                <!-- Copyright -->
                <div class="footer-copyright text-center text-white py-3 mt-5">© 2019 Copyright</div>
        </footer>

        <script type="text/javascript" src="/app.js"></script>
    </body>
</html>